# Python
*.py[cod]
*$py.class
*.so
.Python
__pycache__/
*.pyc

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Виртуалдык чөйрө
venv/
env/
ENV/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Медиа файлдар (опционалдуу)
media/avatars/
media/job_images/

# Static файлдар
staticfiles/
.static_storage/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Coverage
htmlcov/
.coverage
.coverage.*

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
